body
{
font: "Trebuchet MS", Verdana, sans-serif;
background-color: #500000;
color: white;
}

#main
{
padding: 30px;
background-color: #ffffff;
border-radius: 0 0 4px 4px;
}

h1
{
font: "BRUSH SCRIPT MT", serif;
font-size:48px;
border-bottom: 3px solid #cc9900;
color: white;
}
